body{
}
/* Photograph-header  ----------------------------------------------*/
.photographer-content {
    background-color: #FAFAFA;
    height: 370px;
    margin: 40px 100px;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-bottom: 30px;
}

.photographer-content .img-div {
    margin: auto 0;
    text-align: right;
    height: 240px;
    width: 100%;
    
}

.photographer-content .img-div img {
    margin: auto 0;
    text-align: right;
    height: 100%;
    width: 240px;
    border-radius: 50%;
    object-fit: cover;
}
/* Photograph-profile ------------*/

.photographer-profile {
    display: flex;
    flex-direction: column;
    transform: translateY(20px);
    
}
.photographer-name {
    font-size: 64px;
    margin-bottom: 0px;   
    color: #D3573C;
}

.photographer-city {
    font-size:  24px;
    margin-bottom: 15px;
    color: #901C1C;
}

.photographer-tagline {
    font-size:  18px;
    color: #525252;
}


/* Filter ----------------------------------------------------------------------------*/

.filter-section {
    display: flex;  
    font-size: 18px;
    margin: 0px 100px;
    margin-bottom: 60px;
    position: relative;
    
}

.filter-section-title {
    margin-top: 5px;
}

.filter-section span {
    margin-right: 25px;
}

.filter-dropdown {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #901C1C;
    width: 200px;
    position: absolute;
    top: 0;
    left: 80px;
    height: auto;
    
}

 

.filter-btn {
    line-height: 0;  
    font-size: 18px;
    width: 100%;
    color: white;
    padding: 0px 15px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    
}


.filter-btn:nth-child(1)
{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    transform: translateY(0);
    
}


.filter-btn:nth-child(2)::before
{
    content: "";
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    position: absolute;
    width: 86%;
    height: 60px;
    top: 60px;
    left: 12px;
}


.filter-btn:nth-child(2) {
     top: 0px;
}

.filter-btn:nth-child(3) {
    top: 0px;
}

.filter-chevron {
    
    transform: rotate(0deg);
    text-align: left;
    width: 20px;
    margin-right: auto;
}
 

.filter-btn-disable {
   display: none;
}  

.filter-btn-chevron-disable {
    transform: rotate(180deg);
}

/* Section photos-------------------------------------------------------------------- */

.cards-photo {
    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr;
    margin-bottom: 40px;

}

.card-photo {
    padding-bottom: 30px;
    margin: auto;
}

.card-photo-container {
    width: 420px;
    height: 360px;
    cursor: pointer;
}
.card-photo-container img, .card-photo-container video {
    width: 420px;
    height: 360px;
    object-fit: cover;
    border-radius: 5px;
}

.card-photo-bottom {
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #901C1C;
}

.card-photo-title {
    font-size: 24px;
    margin: 15px 0;
    cursor: pointer;
}

.like-local-number, .like-number {
    font-size: 24px;
    margin-right: 5px;
}

.heart {
    cursor: pointer;
}

/* Like&price ----------------------------------------------------------------------------*/

.like-and-price {
    position: fixed;
    bottom: 0;
    right: 40px;
    width: 350px;
    height: 70px;
    background-color: #DB8876;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px
}

.price  {
    color: black;
    font-size: 26px;
}

.like-and-price i {
    color: black;
}


/* lightbox modal ----------------------------------------------------------------------*/

.lightbox-modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 20px;
}

.lightbox-modal-disable {
    display: none;
    
}

.lightbox-img {
    width: 1050px;
    height: 740px;
    object-fit: cover;
    border-radius: 5px;
    display: flex;
}

.lightbox-modal video {
    width: 1050px;
    height: 740px;
    object-fit: cover;
    border-radius: 5px;
}

.lightbox-element-disable {
    display: none;
}

.lightbox-modal h3 {
    font-size: 26px;
    font-weight: lighter;
    color: #901C1C;
}

.lightbox-modal i {
    margin: 0 30px;
    color: #901C1C;
}

.lightbox-modal .fa-times {
    position: absolute;
    top: 40px;
    right: 260px;
}

.lightbox-next {
    transform: rotate(90deg);
}

.lightbox-prev {
    transform: rotate(-90deg);
}


/* Form-modal------------------------------------------------------------------------------ */



#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 35%;
    height: 86%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    padding: 35px;
    padding-top: 5px;
    margin: auto;
}

.modal header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 60px;
    font-weight: normal;
    margin: 0;
    
}

.contact_modal {
    width: 100%;
    text-align: left;
}

.modal header span {
    font-size: 60px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 34px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 96%;
    height: 60px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 20px;
    
}

.label-message {
    margin-top: 10px;
    
}

form textarea {
    width: 96%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    resize: none;
}

.contact_button  {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    
}


form .contact_button {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    align-self: flex-start;
    
}

